{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col s12 l12 ">
  <div class="row">

  </div>
  <div class="row">
      <div class="col s12 l12 center-align">
        <img src="{% static 'images/navolato.png'  %}" alt="" style="max-width:100%; height:auto; width:auto\9;"">
    </div>
    <div class="col l6  s12 blue darken-4 white-text" style="height:800px;">
      <div class="row">
        <div class="col s12  l12 center-align">
          <h4>MISION</h4>
        </div>
      </div>
      <div class="row">
        <div class="col l12 ">
          <h5 class="right-align" style="text-align:justify" >El subsistema del bachillerato de la Universidad Autónoma de Sinaloa tiene como misión la formación integral de bachilleres poseedores de una cultura general básica de una actividad responsable hacia los demás, consigo mismo y con el medio; que contribuya a su desarrollo personal a través de la continuación de estudios de nivel suprior y/o la incorporación a la vida laboral de manera eficiente y con compromiso social.</h5>
        </div>
      </div>
    </div>
    <div class="col l6 s12  amber darken-1 white-text" style="height:800px;">
      <div class="row">
        <div class="col s12 l12 center-align">
          <h4>VISION</h4>

        </div>
      </div>
      <div class="row">
        <div class="col  l12">
          <h5 class="right-align" style="text-align:justify">
            La Unidad Académica Preparatoria Navolato y sus extensiones Sataya y Villa Juárez cuentan con la infraestructura necesaria para el óptimo funcionamiento y espacios escolares modernos que favorecen la formación integral de nuestros estudiantes, a través de un sistema de gestión de calidad que la conduce al desarrollo de mejora continua. Contamos con un plan de estudios actualizado e implementado por personal docente altamente capacitado pedagógica y profesionalmente, agrupado en academias consolidadas. Asimismo, la vida académica y administrativa y de gestión es normada por reglamentos que garantizan la transparencia en la rendición de cuentas.
          </h5>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
