{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col l4">
      <ul>
        {% for row in query %}
         <li>Materia: {{ row.name }}</li>
         <li>Semestre: {{ row.semester }}</li>
         <li>Link: {{row.link  }}</li>
         {% endfor %}

      </ul>
      <div class="row">
        <div class="col">
          {% for row in query %}
          <form action="{% url 'delete_subject' row.id %}" method="post">
            {%csrf_token%}
            <button class="btn waves-effect waves-light" type="submit" name="action">Borrar
            </button>
            </form>
          {% endfor %}



        </div>
      </div>

    </div>
    <div class="col l8">
      <div class="card">
        <div class="row">
          <div class="col l12">
            <form method="post">
              {%csrf_token%}
            {{ form.as_p }}
            <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
